<ion-header>
  <ion-toolbar>
    <ion-title>Pomodoro App</ion-title>
    <ion-card-subtitle slot="end" class="currentTime">{{ currentTime }}</ion-card-subtitle>
    <ion-button slot="end" fill="clear" (click)="settings()">
      <ion-icon name="menu"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [class.dark-theme]="isDarkMode" [class.light-theme]="!isDarkMode">
  <ion-card *ngIf="!breakRunning" [class.work-card]="true">
    <ion-card-header>
      <ion-card-subtitle class="workStatus">💼 Work Time</ion-card-subtitle>
      <ion-card-title class="clockTimer">{{ minutes }}:{{ seconds }}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card *ngIf="breakRunning" [class.break-card]="true">
    <ion-card-header>
      <ion-card-subtitle class="workStatus">🌴 Break Time</ion-card-subtitle>
      <ion-card-title class="clockTimer">{{ breakMinutes }}:{{ breakSeconds }}</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="breakFinished">
      <p class="breakMessage">Break time is done, want to start your work again?</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col *ngIf="!breakRunning">
            <ion-button expand="block" [color]="running ? 'danger' : 'primary'" fill="clear" (click)="toggleTimer()">
              <ion-icon [name]="running ? 'refresh-circle' : 'play-circle'" slot="start"></ion-icon>
              {{ running ? 'Restart Timer' : 'Start Timer' }}
            </ion-button>
        </ion-col>

        <ion-col *ngIf="breakRunning">
            <ion-button expand="block" color="success" fill="clear" (click)="restartPomodoroBreak()">
              <ion-icon name="refresh-circle" slot="start"></ion-icon>
              Restart Your Pomodoro
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
