.currentTime{
  margin-right: 16px;
}

.workStatus{
  position: absolute;
  top: 16px;
  left: 16px;
}

.clockTimer{
  font-size: 5rem;
  text-align: center;
  margin-top: 50px;
}

.breakMessage{
  text-align: center;
}